body {
  text-align: center;
  background-color: black;
}
.contenidoPelis{
  background-color: black;
  text-align: center;
  margin: 100px;
  font-size: 1vw;
  color: aliceblue;

}
.tituloPelis{
  background-color: black;
  text-align: center;
  margin: 50px;
  font-size: 3vw;
  font-family: "bebasneue";
  color: aliceblue;

}
@font-face {
  font-family: "bebasneue";
  src: url("../src/assets/fonts/BebasNeue-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}