html {
  text-align: center;
  background-color: black;
}
/*Pelis*/

#contenedorCard{
  background-color: black;
  margin: auto;
  color: aliceblue;
  text-align: center;
  width: 18rem;
}
.imagenCard{
  text-align: center;
  
}
.contenidoPelis{
  background-color: black;
  text-align: center;
  font-size: 1vw;
  color: aliceblue;

}
.contenido{
  background-color: black;
  margin: auto;
  text-align: center;
  font-size: 1vw;
  color: aliceblue;
}
.tituloPelis{
  background-color: black;
  text-align: center;
  margin: 50px;
  font-size: 3vw;
  font-family: "bebasneue";
  color: aliceblue;

}
@font-face {
  font-family: "bebasneue";
  src: url("../src/assets/fonts/BebasNeue-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*Header*/

.portada{
  background-color: black;
  padding-left: 30px;
  padding-top: 20px;
  text-align: left;
}
/*Intro*/

.intro{
  background-color: black;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.imagen{
  padding: 50px;
  text-align: center;
}
.informacion{
  padding: 50px;
  text-align: center;
  font-size: 3vw;
  background-color: black;
  color: aliceblue;
  margin: auto;
  font-family: "bebasneue";
}

/*Footer*/
.pie{
  background-color: black;
}
.redes{
  background-color: black;
  color: aliceblue;
  font-size: 2vw;
  text-align: center;
  padding-top: 50px;
  margin: auto;
  padding-bottom: 20px;
}
.copy{
  background-color: black;
  color: aliceblue;
  font-size: 1vw;
  text-align: center;
  padding-top: 20px;
  margin: auto;
  padding-bottom: 20px;
}

/* SearchBar*/
